.button {

    height: 50px;
    background: $linear-gradient;
    border-radius: 25px;
    color: $colour-white;

}

.button-order {
    width: 185px;
}

.button-explore {
    width: 200px;
}