
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-teritiary: #99E2D0;
$colour-darkgreen: #008766;
$colour-lightgrey: #F6F6F6;
$colour-lightgrey: #F6F6F6;
$colour-grey: #EAEAEA;
$colour-white: #ffffff;
$colour-black: #000000;


$linear-gradient: linear-gradient(#9356DC, #FF79DA); 
